.projectPlanContainer {
  padding: 0 0 20px;
  width: 24%;
  border: 1px solid #ececec;
  border-radius: 2px;
  transition: all .2s linear;
  margin-left: calc(4% / 8);
  margin-right: calc(4% / 8);
  background-color: #fafafa;
}
.projectPlanContainer:hover {
  border: 1px solid #c7c7c7;
  cursor: pointer;
  box-shadow: 0px 2px 9px 3px #dedede;
  transform: scale(1.005, 1.005);
}
.projectPlanImage {
  width: 100%;
  border-radius: 2px 2px 0 0;
  border-bottom: 1px solid gray;
}
.planButtonBlock {
  padding: 0 15px;
  display: flex;
  transition: all .2s linear;
}
.projectPlanName {
  padding: 0 30px;
  margin: 10px 0;
}
.projectPlanButton {
  padding: 10px 0;
  width: 100%;
  background-color: #ffa72bbe;
  border-radius: 2px;
  transition: all .2s linear;
  color: #40454c;
}
.projectPlanButton:hover {
  background-color: #ffa72b;
}
.planButtonBlock:hover.planButtonBlock {
  padding: 0 13px;
}