.container_form_contact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 60px 0 100px;
    background-image: url(../../assets/images/bg_form.jpeg);
    background-size: cover;
}
.container_in_form {
    display: flex;
}
.contactWithUsText {
  display: block;
  width: 100%;
  margin-bottom: 50px;
  color: #1d1d1d;
  font-size: 50px;
  text-transform: uppercase;
  letter-spacing: 8px;
  font-weight: 700;
  padding: 20px;
  text-align: center;
  background-color: #acacac;
  border-radius: 2px;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;

}
textarea:focus, input:focus{
  outline: 1px solid rgb(115, 115, 115);
} 
focus.errorInput, input:focus.errorInput {
  outline: 1px solid red;
}
.errorInput {
  outline: 1px solid red;
}
.custom_input_subject {
    width: 100%;
}
.basicInput {
  margin: 10px 0;
}
.errorLabel {
  color: red;
}
.custom_input {
  width: 100%;
  background-color: white;
  color: rgb(7, 7, 7);
  padding: 14px 20px;
  border: none;
  border-radius: 4px;
}
.custom_input_message {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    max-height: 320px;
    min-height: 200px;
}
.custom_form {
    width: 70%;
    background-color: whitesmoke;
}
form {
  border-radius: 2px;
}
.buttonContainer {
  display: flex;
  justify-content: flex-end;
}
.submitButton {
  margin-top: 20px;
  padding: 6px;
  width: 30%;
  background-color: #cecece;
  border-radius: 2px;
  transition: all .4s linear;
  border: 1px solid rgba(128, 128, 128, 0);
  cursor: pointer;
}
.submitButton:hover {
  border: 1px solid rgb(115, 115, 115);
}
.errorMessage {
  position: absolute;
  color: red;
}